#map-and-search {
    overflow:hidden;
    width: inherit;
}

#map_canvas {
    height: 585px;
    border-style:solid;
    border-width: 1px;
}

#map-sidebar {
    overflow: hidden;
    padding-top: 0px;
    margin-top: 0px;
}

.connect-search-form {
    font-size: 1.1em;
}

.connect-search-form form {
    margin: 0;
    padding: 0;
}

.connect-search-form dd {
    margin: 0;
}

#resetForm {
	width: 200px;
	text-align:center;
	padding-bottom: 10px;
}

#heatmaplink {
	margin-bottom: 30px;
}

#add-location-text {
	padding-top: 20px;
}